<div class="col-md-12">
  <br>
  OhLife now includes text &amp; photos in their own export. Visit <a href="http://ohlife.com/export" target="_blank">http://ohlife.com/export</a> and click "Download all your entries and pics here".
  <br>
  You can import your entries &amp; photos in my new service at <a href="https://dabble.me" title="Free OhLife Alternative">Dabble Me</a>.
</div>