<div class="col-md-12">
  <br>
  <ol>
    <li>Login to <a href="https://ohlife.com/past" target="_blank">OhLife</a></li>
    <li>Right click and choose "<a href="view-source:https://ohlife.com/past" target="_blank">View Source</a>". <a href="http://www.wikihow.com/View-Source-Code" target="_blank">Need help?</a></li>
    <li>Copy &amp; paste the code into the text area below</a></li>
    <li>A zipped up version of your images will start downloading!</a></li>
  </ol>
  <br>
</div>

<div class="col-md-12">
  <%= form_tag zip_path, id: "download_images" do %>  
    <div class="form-group">
      <label for="source">Past HTML Source here:</label>
      <%= text_area_tag :source, nil, placeholder: "<html><head></head>...", size: "100x10", class: "form-control", style: "width:100%;" %>
    </div>
    <%= submit_tag "Download All Images", class: "btn btn-primary", id: "submit_form" %>
  <% end %>
</div>